/* Import Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* General styles */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-image: url('../images/overhead-view-coffee-cup-keyboard-camera-paper-white-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Section styles */
section {
    margin-bottom: 40px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p, ul {
    text-align: justify;
}

ul {
    padding-left: 20px;
}

.experience-item, .leadership-item, .achievement-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.experience-item:hover, .leadership-item:hover, .achievement-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.details {
    font-style: italic;
    margin-bottom: 10px;
}

/* Centered Bullet Points */
.achievements-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

